*{
  padding: 0px;
  margin-: 0px;
}
html,body{
  margin:auto;
  text-align: center;
  background-color: #CCC;
  height: 100%;
}
.container{
	background: white;
	font-family: cambria;
	box-shadow: 1px 1px 10px 1px grey;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 5%;
}
ol{
	width: 90%;
	text-align: left;
	margin-left: 5%;
}
.jdl{
	padding-top: 3%;
}
a{
	text-decoration: none;
	color: black;
}
a:hover,  a:focus{
	text-decoration: none;
	color: grey;
}
